.body {
    font-family: 'Consolas', '微软雅黑', monospace;
    font-size: 16px;
    background-color: #153045;
}

.button {
    background-color: #eb9030;
    color: white;
    padding: 5px 50px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Consolas', '微软雅黑', monospace;
    font-size: 12px;
}

.button:hover {
    background-color: #eb90307F;
    color: #eb9030;
}

.button:active {
    color: #ffffff;
    background-color: #ffffff7f;
}


@keyframes press {
    0% {
        transform: scale(1);      /* 起始大小 */
    }
    1% {
        transform: scale(1.1);    /* 瞬间放大（几乎在动画开始就完成） */
    }
    100% {
        transform: scale(1);       /* 缓慢缩回原大小 */
    }
}